In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("salarios.csv")
df

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
...,...,...,...,...
32177,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$86520.00
32178,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$83616.00
32179,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$86520.00
32180,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$110352.00
32181,NaN,NaN,NaN,NaN

In [6]:
df['Department'].value_counts()

Department
POLICE                   13570
FIRE                      4875
STREETS & SAN             2090
WATER MGMNT               1848
AVIATION                  1344
TRANSPORTN                1200
OEMC                      1135
PUBLIC LIBRARY             951
GENERAL SERVICES           924
FAMILY & SUPPORT           679
FINANCE                    560
HEALTH                     555
LAW                        425
CITY COUNCIL               397
BUILDINGS                  257
COMMUNITY DEVELOPMENT      212
BUSINESS AFFAIRS           173
BOARD OF ELECTION          111
DoIT                       106
MAYOR'S OFFICE              93
IPRA                        83
CITY CLERK                  82
PROCUREMENT                 81
CULTURAL AFFAIRS            79
HUMAN RESOURCES             68
ANIMAL CONTRL               67
INSPECTOR GEN               54
BUDGET & MGMT               43
ADMIN HEARNG                39
DISABILITIES                27
TREASURER                   24
HUMAN RELATIONS             17
BOARD OF ETHICS              9
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64