## Convert PDF file in Excel

### Reading PDF file with table and convert it to an Excel file:

In [25]:
import tabula 
import PyPDF2

In [26]:
list_table = tabula.read_pdf("data/arquivo2.pdf", pages="all")

In [27]:
len(list_table)

3

In [28]:
for table in list_table:
    display(table)

,Descrição,Var. em relação ao tri. anterior,Var. em relação ao mesmo tri. do ano anterior,Var. em 4 trimestre (*),Milhares de pessoas
0,População Economicamente Ativa,0.6,5.4,5.1,107476
1,População Ocupada,1.6,9.4,6.4,95428
2,Empregado no setor privado com carteira,2.0,9.3,4.2,34556
3,Empregado no setor privado sem carteira,3.6,19.8,14.0,12383
4,Trabalhador doméstico,2.0,19.9,10.6,5621
5,Empregado no Setor Público,1.9,-1.9,-2.3,11362
6,Empregador,3.9,5.4,-2.5,4008
7,Conta-própria,-0.2,10.3,11.8,25576

,Descrição,Var. em relação ao tri. anterior,Var. em relação ao mesmo tri. do ano anterior,Var. em 4 trimestre (*),Valor R$
0,Rendimento habitual de todos os trabalhos,-1.1,-9.7,-7.7,2489
1,Rendimento habitual do trabalho principal,-0.9,-9.5,-7.8,2420
2,Empregado no setor privado com carteira,-0.8,-7.1,-5.6,2392
3,Empregado no setor privado sem carteira,1.4,-9.1,-7.8,1594
4,Trabalhador doméstico,1.1,-3.1,-5.7,966
5,Empregado no Setor Público,-1.9,-11.6,-5.7,3915
6,Empregador,-5.0,-11.6,-11.4,6013
7,Conta-própria,0.1,-2.7,-3.0,1947

         Descrição (Milhões)        1SEM       2SEM VARIACAO_PERCENTUAL
0                  Descrição  1 semestre  2 semestr           1SEM 2SEM
1  Receita de vendas liquida         2.5        5.0            75% 100%
2          Custos e despesas         1.5        3.2             52% 89%
3     Despesas não previstas         1.2        1.4             12% 24%

In [29]:
table1 = list_table[0]
table1

,Descrição,Var. em relação ao tri. anterior,Var. em relação ao mesmo tri. do ano anterior,Var. em 4 trimestre (*),Milhares de pessoas
0,População Economicamente Ativa,0.6,5.4,5.1,107476
1,População Ocupada,1.6,9.4,6.4,95428
2,Empregado no setor privado com carteira,2.0,9.3,4.2,34556
3,Empregado no setor privado sem carteira,3.6,19.8,14.0,12383
4,Trabalhador doméstico,2.0,19.9,10.6,5621
5,Empregado no Setor Público,1.9,-1.9,-2.3,11362
6,Empregador,3.9,5.4,-2.5,4008
7,Conta-própria,-0.2,10.3,11.8,25576

In [30]:
table2 = list_table[1]
table2

,Descrição,Var. em relação ao tri. anterior,Var. em relação ao mesmo tri. do ano anterior,Var. em 4 trimestre (*),Valor R$
0,Rendimento habitual de todos os trabalhos,-1.1,-9.7,-7.7,2489
1,Rendimento habitual do trabalho principal,-0.9,-9.5,-7.8,2420
2,Empregado no setor privado com carteira,-0.8,-7.1,-5.6,2392
3,Empregado no setor privado sem carteira,1.4,-9.1,-7.8,1594
4,Trabalhador doméstico,1.1,-3.1,-5.7,966
5,Empregado no Setor Público,-1.9,-11.6,-5.7,3915
6,Empregador,-5.0,-11.6,-11.4,6013
7,Conta-própria,0.1,-2.7,-3.0,1947

In [31]:
table3 = list_table[2]
table3

         Descrição (Milhões)        1SEM       2SEM VARIACAO_PERCENTUAL
0                  Descrição  1 semestre  2 semestr           1SEM 2SEM
1  Receita de vendas liquida         2.5        5.0            75% 100%
2          Custos e despesas         1.5        3.2             52% 89%
3     Despesas não previstas         1.2        1.4             12% 24%

In [32]:
table3[[0, 1]] = table3['VARIACAO_PERCENTUAL'].str.split(" ", expand=True)
table3

,Descrição (Milhões),1SEM,2SEM,VARIACAO_PERCENTUAL,0,1
0,Descrição,1 semestre,2 semestr,1SEM 2SEM,1SEM,2SEM
1,Receita de vendas liquida,2.5,5.0,75% 100%,75%,100%
2,Custos e despesas,1.5,3.2,52% 89%,52%,89%
3,Despesas não previstas,1.2,1.4,12% 24%,12%,24%

In [33]:
table3 = table3.drop(columns=['VARIACAO_PERCENTUAL'])
table3

         Descrição (Milhões)        1SEM       2SEM     0     1
0                  Descrição  1 semestre  2 semestr  1SEM  2SEM
1  Receita de vendas liquida         2.5        5.0   75%  100%
2          Custos e despesas         1.5        3.2   52%   89%
3     Despesas não previstas         1.2        1.4   12%   24%

In [34]:
table3 = table3.drop(index=0)
table3

         Descrição (Milhões) 1SEM 2SEM    0     1
1  Receita de vendas liquida  2.5  5.0  75%  100%
2          Custos e despesas  1.5  3.2  52%   89%
3     Despesas não previstas  1.2  1.4  12%   24%

In [35]:
table3.columns = ['DESCRICAO','1º SEMESTRE', '2º SEMESTRE', 'VAR_PERC_1_SEM','VAR_PERC_2_SEM']
table3

,DESCRICAO,1º SEMESTRE,2º SEMESTRE,VAR_PERC_1_SEM,VAR_PERC_2_SEM
1,Receita de vendas liquida,2.5,5.0,75%,100%
2,Custos e despesas,1.5,3.2,52%,89%
3,Despesas não previstas,1.2,1.4,12%,24%

In [36]:
table3.to_excel('Tabela_receita_2025.xlsx')

### Reading PDF file with text and convert it to an Excel file

In [41]:
directory = open("data/arquivo1.pdf", "rb")

In [ ]:
pdf_file = PyPDF2.PdfReader(directory)

In [46]:
page = pdf_file.pages[0]
content_page = page.extract_text()
content_page

'O que é ciência de dados?  \nA ciência de dados é o estudo dos dados para extrair insights significativos para os \nnegócios. Ela é uma abordagem multidisciplinar que combina princípios e práticas das \náreas de matemática, estatística, inteligência artificial e engenharia da computação p ara \nanalisar grandes quantidades de dados. Essa análise ajuda os cientistas de dados a fazer \ne responder perguntas como o que aconteceu, por que aconteceu, o que acontecerá e o \nque pode ser feito com os resultados.  \nPor que a ciência de dados é importante?  \nA ciência de dados é importante porque combina ferramentas, métodos e tecnologia para \ngerar significado com base em dados. As organizações modernas são inundadas com \ndados; há uma proliferação de dispositivos que podem coletar e armazenar informações \nautomaticamente. Sistemas online e portais de pagamento capturam mais dados nas \náreas de comércio eletrônico, medicina, finanças e todos os outros aspectos da vida \nhumana. Temos dados de texto, áudio, vídeo e imagem disponíveis em grandes \nquantidades.   \nInfelizmente, dados brutos não têm valor a menos que possam ser acionados. Os \ncientistas de dados podem converter dados brutos em recomendações significativas. Eles \npodem descobrir e solucionar problemas que as empresas nem sabiam que existiam. As \norganizações podem usar essas recomendações para deixar os clientes mais satisfeitos, \notimizar a cadeia de suprimentos ou lançar novos produtos.  \nHistória da ciência de dados  \nEmbora o termo ciência de dados não seja novo, os significados e conotações mudaram \nao longo d o tempo. A palavra apareceu pela primeira vez na década de 1960 como um \nnome alternativo para estatísticas. No final da década de 1990, profissionais de ciência da \ncomputação formalizaram o termo. Uma definição proposta para ciência de dados o viu \ncomo um campo separado com três aspectos: design de dados, coleta e análise. Ainda \nlevou mais uma década para que o termo fosse usado fora da academia.   \nFuturo da ciência de dados  \nA inteligência artificial e as inovações de machine learning tornaram o processamen to de \ndados mais rápido e eficiente. A demanda do setor criou um ecossistema de cursos, \ndiplomas e cargos na área da ciência de dados. Devido ao conjunto de habilidades \nmultifuncionais e à experiência necessária, a ciência de dados mostra um forte \ncrescime nto projetado nas próximas décadas.  \n '

In [47]:
type(content_page)

str

In [48]:
print(content_page)

O que é ciência de dados?
A ciência de dados é o estudo dos dados para extrair insights significativos para os
negócios. Ela é uma abordagem multidisciplinar que combina princípios e práticas das
áreas de matemática, estatística, inteligência artificial e engenharia da computação p ara
analisar grandes quantidades de dados. Essa análise ajuda os cientistas de dados a fazer
e responder perguntas como o que aconteceu, por que aconteceu, o que acontecerá e o
que pode ser feito com os resultados.
Por que a ciência de dados é importante?
A ciência de dados é importante porque combina ferramentas, métodos e tecnologia para
gerar significado com base em dados. As organizações modernas são inundadas com
dados; há uma proliferação de dispositivos que podem coletar e armazenar informações
automaticamente. Sistemas online e portais de pagamento capturam mais dados nas
áreas de comércio eletrônico, medicina, finanças e todos os outros aspectos da vida
humana. Temos dados de texto, áudio, vídeo e imagem disponíveis em grandes
quantidades.
Infelizmente, dados brutos não têm valor a menos que possam ser acionados. Os
cientistas de dados podem converter dados brutos em recomendações significativas. Eles
podem descobrir e solucionar problemas que as empresas nem sabiam que existiam. As
organizações podem usar essas recomendações para deixar os clientes mais satisfeitos,
otimizar a cadeia de suprimentos ou lançar novos produtos.
História da ciência de dados
Embora o termo ciência de dados não seja novo, os significados e conotações mudaram
ao longo d o tempo. A palavra apareceu pela primeira vez na década de 1960 como um
nome alternativo para estatísticas. No final da década de 1990, profissionais de ciência da
computação formalizaram o termo. Uma definição proposta para ciência de dados o viu
como um campo separado com três aspectos: design de dados, coleta e análise. Ainda
levou mais uma década para que o termo fosse usado fora da academia.
Futuro da ciência de dados
A inteligência artificial e as inovações de machine learning tornaram o processamen to de
dados mais rápido e eficiente. A demanda do setor criou um ecossistema de cursos,
diplomas e cargos na área da ciência de dados. Devido ao conjunto de habilidades
multifuncionais e à experiência necessária, a ciência de dados mostra um forte
crescime nto projetado nas próximas décadas.